*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    background:linear-gradient(blue,violet);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    height: 450px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 30px;
}
.container h1{
    font-size: 28px;
    padding-bottom: 15px;
    border-bottom: 2.5px solid green;
}
.amount_entry p{
    padding: 10px 0 5px 0;
}
.amount_entry input[type="text"]{
    /* height: 28px; */
    cursor: pointer;
    width: 100%;
    padding: 5px;
    font-size: 20px;
}
.converter_box{
    /* margin-top: 30px; appling margin-top */
    height: 120px;
    width: 100%;
    /* border: 1px solid grey; */
    display: flex;
}
.from_box{
width: 38%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
}
.sign_box{
width: 24%;
display: flex;
justify-content: center;
align-items: center;
}
.to_box{
width: 38%;
display: flex;
flex-direction: column;
justify-content: center;
gap: 15px;
align-items: center;
}
.from_select{

}
.to_select{

}
.answer_box{
font-size: 18px;
}

.sign_box  img{
    cursor: pointer;
}

#btn{
    width: 100%;
    padding: 16px ;
    color: white;
    background-color: blueviolet;
    border: 0;
    outline: 0;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}
.selectbox select{
    border: 0;
    outline: 0;
   font-size: 16px;
}
.selectbox{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 100px;
        height: 45px;
        /* background: red; */
        border: 1px solid grey;
        margin: 3px;
        border-radius: 8px;

}
.selectbox img{
   width: 30px;
   
   object-fit: contain;
   
}